.parent {
    display: flex;
    flex-direction: row;
}

.flexbox-item-1 {
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    height: 500px;
    width: 300px;
    font-weight: bold;
    font-family: cursive;
    text-align: center;
    color: aliceblue;
    justify-content: space-between;
}

.flexbox-item-2 {
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    height: 500px;
    width: 300px;
    font-style: italic;
    font-family: fantasy;
    text-align: center;
    color: brown;
    justify-content: space-between;
}

.flexbox-item-3 {
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    height: 500px;
    width: 300px;
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
    color: green;
    justify-content: space-between;
}

.flexbox-item-4 {
    padding: 10px;
    margin: 10px;
}

body {
    background-image: url(https://images.pexels.com/photos/1552173/pexels-photo-1552173.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}